In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
corpus = ['This is the first document.',
          'This is the second document.',
          'Third document. Document number 3',
          'Number four. To repeat, number four'
         ]

In [7]:
vectorizer = CountVectorizer()
bag_of_words = vectorizer.fit_transform(corpus)

bag_of_words

<4x11 sparse matrix of type '<class 'numpy.int64'>'
	with 17 stored elements in Compressed Sparse Row format>

In [9]:
print(bag_of_words)

  (0, 0)	1
  (0, 1)	1
  (0, 7)	1
  (0, 3)	1
  (0, 9)	1
  (1, 6)	1
  (1, 0)	1
  (1, 7)	1
  (1, 3)	1
  (1, 9)	1
  (2, 4)	1
  (2, 8)	1
  (2, 0)	2
  (3, 5)	1
  (3, 10)	1
  (3, 2)	2
  (3, 4)	2

In [11]:
vectorizer.vocabulary_.get('document')

0

In [13]:
vectorizer.vocabulary_

{'this': 9,
 'is': 3,
 'the': 7,
 'first': 1,
 'document': 0,
 'second': 6,
 'third': 8,
 'number': 4,
 'four': 2,
 'to': 10,
 'repeat': 5}

Deixaremos, agora, esses dados em forma tabular

In [16]:
import pandas as pd

In [18]:
pd.DataFrame(bag_of_words.toarray(), columns=vectorizer.get_feature_names())

   document  first  four  is  number  repeat  second  the  third  this  to
0         1      1     0   1       0       0       0    1      0     1   0
1         1      0     0   1       0       0       1    1      0     1   0
2         2      0     0   0       1       0       0    0      1     0   0
3         0      0     2   0       2       1       0    0      0     0   1