Import do pandas

In [6]:
import pandas as pd

In [7]:
print(pd.__version__)

0.23.0

In [8]:
exam_data = pd.read_csv('./data/exams.csv', quotechar='"')

In [9]:
exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,associate's degree,standard,none,63,74,69
1,male,group D,high school,free/reduced,none,54,57,56
2,female,group C,some college,free/reduced,none,43,54,46
3,female,group D,high school,standard,none,74,74,75
4,female,group B,bachelor's degree,standard,none,27,51,52
5,female,group C,some high school,standard,none,63,75,73
6,male,group D,master's degree,standard,none,89,82,79
7,male,group B,some college,standard,completed,50,46,51
8,male,group C,some high school,standard,none,86,85,76
9,male,group C,high school,standard,none,83,87,83
10,male,group B,some high school,standard,none,47,45,42
11,male,group C,high school,free/reduced,none,61,76,68
12,male,group A,some high school,standard,none,68,64,61
13,female,group C,some high school,standard,none,61,75,72
14,female,group C,associate's degree,standard,none,57,76,69
15,female,group B,master's degree,free/reduced,none,46,59,62
16,female,group B,some college,standard,none,46,60,55
17,female,group B,some college,standard,none,71,83,78
18,male,group D,high school,free/reduced,none,76,76,70
19,male,group D,associate's degree,standard,none,82,84,77
20,female,group A,bachelor's degree,standard,completed,65,78,80
21,female,group E,some high school,free/reduced,none,66,66,64
22,female,group D,some college,free/reduced,completed,87,94,94
23,male,group C,high school,free/reduced,none,55,63,56
24,male,group C,master's degree,standard,completed,83,83,74
25,female,group E,high school,standard,completed,51,45,55
26,female,group B,associate's degree,standard,completed,76,88,91
27,female,group C,some college,standard,completed,71,73,79
28,male,group C,some college,standard,none,74,65,62
29,female,group B,bachelor's degree,free/reduced,none,48,57,56
...,...,...,...,...,...,...,...,...
70,male,group D,some high school,standard,none,82,62,67
71,female,group B,high school,standard,completed,61,64,68
72,female,group D,associate's degree,free/reduced,completed,58,76,80
73,female,group E,some college,standard,none,81,83,83
74,male,group E,some high school,free/reduced,none,41,32,27
75,male,group D,master's degree,standard,none,72,70,67
76,female,group D,some high school,standard,completed,84,96,97
77,male,group A,some high school,standard,none,71,70,72
78,male,group C,bachelor's degree,standard,none,70,64,65
79,female,group D,some high school,standard,none,62,76,75
80,female,group C,associate's degree,free/reduced,none,52,60,60
81,male,group C,some high school,standard,completed,67,72,72
82,male,group B,some college,free/reduced,none,43,42,37
83,female,group E,some high school,standard,completed,100,100,100
84,female,group D,master's degree,standard,none,81,86,90
85,female,group B,some high school,standard,none,54,63,56
86,male,group C,associate's degree,standard,none,73,66,67
87,female,group C,master's degree,free/reduced,completed,65,86,89
88,male,group C,master's degree,free/reduced,none,61,53,59
89,female,group D,high school,standard,completed,62,82,82
90,female,group D,master's degree,standard,none,83,90,89
91,male,group E,some college,standard,none,53,45,40
92,male,group D,some high school,free/reduced,completed,64,61,65
93,male,group E,some high school,standard,completed,79,65,67
94,female,group C,associate's degree,standard,completed,73,80,84
95,male,group B,associate's degree,standard,completed,73,71,79
96,female,group B,high school,free/reduced,completed,79,91,88
97,female,group A,some high school,standard,none,60,65,63
98,female,group D,associate's degree,free/reduced,completed,74,80,80
99,male,group B,high school,standard,none,63,62,57

In [10]:
math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = exam_data['writing score'].mean()

print('Math average: ', math_average)
print('Reading average: ', reading_average)
print('Writing average: ', writing_average)

Math average:  66.11
Reading average:  69.3
Writing average:  68.05

Preprocessing

In [11]:
from sklearn import preprocessing

exam_data[['math score']] = preprocessing.scale(exam_data[['math score']])
exam_data[['reading score']] = preprocessing.scale(exam_data[['reading score']])
exam_data[['writing score']] = preprocessing.scale(exam_data[['writing score']])

C:\Users\Manu\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Manu\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  after removing the cwd from sys.path.
C:\Users\Manu\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  """

In [12]:
exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,associate's degree,standard,none,-0.208543,0.311299,0.061597
1,male,group D,high school,free/reduced,none,-0.812043,-0.814677,-0.781303
2,female,group C,some college,free/reduced,none,-1.549654,-1.013378,-1.429687
3,female,group D,high school,standard,none,0.529068,0.311299,0.450627
4,female,group B,bachelor's degree,standard,none,-2.622542,-1.212080,-1.040657
5,female,group C,some high school,standard,none,-0.208543,0.377533,0.320950
6,male,group D,master's degree,standard,none,1.534901,0.841170,0.709981
7,male,group B,some college,standard,completed,-1.080265,-1.543249,-1.105495
8,male,group C,some high school,standard,none,1.333735,1.039872,0.515465
9,male,group C,high school,standard,none,1.132568,1.172340,0.969334
10,male,group B,some high school,standard,none,-1.281431,-1.609483,-1.689041
11,male,group C,high school,free/reduced,none,-0.342654,0.443767,-0.003242
12,male,group A,some high school,standard,none,0.126735,-0.351040,-0.457111
13,female,group C,some high school,standard,none,-0.342654,0.377533,0.256112
14,female,group C,associate's degree,standard,none,-0.610876,0.443767,0.061597
15,female,group B,master's degree,free/reduced,none,-1.348487,-0.682209,-0.392272
16,female,group B,some college,standard,none,-1.348487,-0.615975,-0.846141
17,female,group B,some college,standard,none,0.327902,0.907404,0.645142
18,male,group D,high school,free/reduced,none,0.663179,0.443767,0.126435
19,male,group D,associate's degree,standard,none,1.065513,0.973638,0.580304
20,female,group A,bachelor's degree,standard,completed,-0.074432,0.576235,0.774819
21,female,group E,some high school,free/reduced,none,-0.007376,-0.218572,-0.262596
22,female,group D,some college,free/reduced,completed,1.400790,1.635977,1.682557
23,male,group C,high school,free/reduced,none,-0.744987,-0.417273,-0.781303
24,male,group C,master's degree,standard,completed,1.132568,0.907404,0.385789
25,female,group E,high school,standard,completed,-1.013209,-1.609483,-0.846141
26,female,group B,associate's degree,standard,completed,0.663179,1.238574,1.488042
27,female,group C,some college,standard,completed,0.327902,0.245065,0.709981
28,male,group C,some college,standard,none,0.529068,-0.284806,-0.392272
29,female,group B,bachelor's degree,free/reduced,none,-1.214376,-0.814677,-0.781303
...,...,...,...,...,...,...,...,...
70,male,group D,some high school,standard,none,1.065513,-0.483507,-0.068080
71,female,group B,high school,standard,completed,-0.342654,-0.351040,-0.003242
72,female,group D,associate's degree,free/reduced,completed,-0.543820,0.443767,0.774819
73,female,group E,some college,standard,none,0.998457,0.907404,0.969334
74,male,group E,some high school,free/reduced,none,-1.683765,-2.470524,-2.661617
75,male,group D,master's degree,standard,none,0.394957,0.046364,-0.068080
76,female,group D,some high school,standard,completed,1.199624,1.768445,1.877072
77,male,group A,some high school,standard,none,0.327902,0.046364,0.256112
78,male,group C,bachelor's degree,standard,none,0.260846,-0.351040,-0.197757
79,female,group D,some high school,standard,none,-0.275598,0.443767,0.450627
80,female,group C,associate's degree,free/reduced,none,-0.946154,-0.615975,-0.521949
81,male,group C,some high school,standard,completed,0.059679,0.178831,0.256112
82,male,group B,some college,free/reduced,none,-1.549654,-1.808185,-2.013233
83,female,group E,some high school,standard,completed,2.272512,2.033380,2.071588
84,female,group D,master's degree,standard,none,0.998457,1.106106,1.423203
85,female,group B,some high school,standard,none,-0.812043,-0.417273,-0.781303
86,male,group C,associate's degree,standard,none,0.462013,-0.218572,-0.068080
87,female,group C,master's degree,free/reduced,completed,-0.074432,1.106106,1.358365
88,male,group C,master's degree,free/reduced,none,-0.342654,-1.079612,-0.586788
89,female,group D,high school,standard,completed,-0.275598,0.841170,0.904496
90,female,group D,master's degree,standard,none,1.132568,1.371041,1.358365
91,male,group E,some college,standard,none,-0.879098,-1.609483,-1.818718
92,male,group D,some high school,free/reduced,completed,-0.141487,-0.549741,-0.197757
93,male,group E,some high school,standard,completed,0.864346,-0.284806,-0.068080
94,female,group C,associate's degree,standard,completed,0.462013,0.708703,1.034173
95,male,group B,associate's degree,standard,completed,0.462013,0.112598,0.709981
96,female,group B,high school,free/reduced,completed,0.864346,1.437275,1.293527
97,female,group A,some high school,standard,none,-0.409709,-0.284806,-0.327434
98,female,group D,associate's degree,free/reduced,completed,0.529068,0.708703,0.774819
99,male,group B,high school,standard,none,-0.208543,-0.483507,-0.716465

Encode string para int

In [15]:
le = preprocessing.LabelEncoder()
exam_data['gender'] = le.fit_transform(exam_data['gender'].astype(str))

In [17]:
exam_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,group C,associate's degree,standard,none,-0.208543,0.311299,0.061597
1,1,group D,high school,free/reduced,none,-0.812043,-0.814677,-0.781303
2,0,group C,some college,free/reduced,none,-1.549654,-1.013378,-1.429687
3,0,group D,high school,standard,none,0.529068,0.311299,0.450627
4,0,group B,bachelor's degree,standard,none,-2.622542,-1.212080,-1.040657

In [18]:
exam_data = pd.get_dummies(exam_data, columns=['race/ethnicity'])

In [25]:
exam_data.head()

,gender,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,0,-0.208543,0.311299,0.061597,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1
1,1,-0.812043,-0.814677,-0.781303,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1
2,0,-1.549654,-1.013378,-1.429687,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1
3,0,0.529068,0.311299,0.450627,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1
4,0,-2.622542,-1.212080,-1.040657,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1

In [21]:
exam_data = pd.get_dummies(exam_data, columns = ['parental level of education', 'lunch', 'test preparation course'])

In [24]:
exam_data.head()

,gender,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,0,-0.208543,0.311299,0.061597,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1
1,1,-0.812043,-0.814677,-0.781303,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1
2,0,-1.549654,-1.013378,-1.429687,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1
3,0,0.529068,0.311299,0.450627,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1
4,0,-2.622542,-1.212080,-1.040657,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1